{% extends 'anime/base.html' %}
{% load static %}

{% block content %}

<!-- Content -->
    <section>
        <header class="main">
            <h1>Alfred Nobel’s life</h1>
        </header>

        <span class="image main"><img src="{% static img_path %}" alt="" /></span>

        <p>Alfred Nobel (1833-1896) was born in Stockholm, Sweden, on 21 October 1833. His family was descended from Olof Rudbeck, the best-known technical genius in Sweden in the 17th century, an era in which Sweden was a great power in northern Europe. Nobel was fluent in several languages, and wrote poetry and drama. Nobel was also very interested in social and peace-related issues, and held views that were considered radical during his time. Alfred Nobel’s interests are reflected in the prize he established. Learn more about his life and his interests – science, inventions, entrepreneurship, literature and peace work.</p>

        <hr class="major" />

        <h2>Born in Stockholm</h2>
        <p>On October 21, 1833 a baby boy was born to a family in Stockholm, Sweden who was to become a famous scientist, inventor, businessman and founder of the Nobel Prizes. His father was Immanuel Nobel and his mother was Andriette Ahlsell Nobel. They named their son Alfred.</p>
        <p>Alfred’s father was an engineer and inventor. He built bridges and buildings and experimented with different ways of blasting rocks.</p>
        <p>The same year that Alfred was born, his father’s business suffered losses and had to be closed. In 1837, Immanuel Nobel decided to try his business somewhere else and left for Finland and Russia. Alfred’s mother was left in Stockholm to take care of the family. At this time, Alfred had two older brothers, Robert born in 1829, and Ludvig born in 1831.</p>

        <hr class="major" />

        <h2>The family moves to Russia</h2>
        <p>After a time, Immanuel Nobel’s business in St. Petersburg, Russia started doing well. He had opened a mechanical workshop that provided equipment for the Russian army. He also made the Russian Tsar and his generals believe that sea mines could be used to stop enemy ships from entering and attacking St. Petersburg. The mines stopped the British Royal Navy from moving into firing range of St. Petersburg during the Crimean War in 1853-1856.</p>
        <p>With his success in Russia, Immanuel was now able to move his family to St. Petersburg in 1842. By 1843, another boy was born into the family, Emil. The four Nobel brothers were given first class education with the help of private tutors. Their lessons included natural sciences, languages and literature. At the age of 17, Alfred could speak and write in Swedish, Russian, French, English and German.</p>

        <hr class="major" />

        <h2>Alfred travels abroad</h2>
        <p>Alfred was most interested in literature, chemistry and physics. His father wanted his sons to follow in his footsteps and was not pleased with Alfred’s interest in poetry. He decided to send the young man abroad to study and become a chemical engineer.</p>
        <p>In Paris, Alfred worked in the private laboratory of Professor T. J. Pelouze, a famous chemist. There he met a young Italian chemist, Ascanio Sobrero. Three years earlier, Sobrero had invented nitroglycerine, a highly explosive liquid. It was considered too dangerous to be of practical use.</p>
        <p>Alfred became very interested in nitroglycerine and how it could be used in construction work. When he returned back to Russia after his studies, he worked together with his father to develop nitroglycerine as a commercially and technically useful explosive.</p>

        <hr class="major" />

        <h2>Moving back to Sweden</h2>
        <p>After the Crimean War ended, the business of Alfred’s father went badly and he decided to move back to Sweden. Alfred’s elder brothers Robert and Ludvig stayed in Russia to try and save what was left of the family business. They became successful and went on to develop the oil industry in the southern part of Russia.</p>
        <p>After the Nobel family’s return to Sweden in 1863, Alfred concentrated on developing nitroglycerine as an explosive. Sadly, these experiments resulted in accidents that killed several people, including Alfred’s younger brother, Emil. The government decided to ban these experiments within the Stockholm city limits.</p>
        <p>Alfred did not give up and moved his experiments to a barge or flat bottom boat on Lake Mälaren. In 1864, he was able to start mass production of nitroglycerine but he did not stop experimenting with different additives to make the production much safer.</p>

        <hr class="major" />

        <h2>Alfred invents “dynamite”</h2>
        <p>Alfred found, through his experiments, that mixing nitroglycerine with a fine sand called kieselguhr would turn the liquid into paste which could be shaped into rods. These rods could then be inserted into drilling holes. The invention was made in 1866. Alfred got a patent or legal right of ownership on this material the next year. He named it “dynamite.” He also invented a detonator or blasting cap which could be set off by lighting a fuse.</p>
        <p>These inventions were made at a time when the diamond drilling crown and pneumatic drill came into general use. Together, these inventions helped reduce the cost of many construction work like drilling tunnels, blasting rocks, building bridges, etc.</p>

        <hr class="major" />

        <h2>Factories in different places</h2>
        <p>Dynamite and detonating caps were much in demand in the construction industry. Because of this, Alfred was able to put up factories in 90 different places. He lived in Paris but often traveled to his factories in more than 20 countries. He was once described as “Europe’s richest vagabond.” He worked intensively in Stockholm (Sweden), Hamburg (Germany), Ardeer (Scotland), Paris and Sevran (France), Karlskoga (Sweden) and San Remo (Italy). He also experimented in making synthetic rubber and leather and artificial silk. By the time of his death in 1896 he had 355 patents.</p>

        <hr class="major" />

        <h2>Meets Bertha von Suttner</h2>
        <p>Alfred had no family of his own. One day, he announced in the newspapers for a secretary. An Austrian lady, Bertha Kinsky von Chinic und Tettau got the job. After working for a short time, she moved back to Austria to marry Count Arthur von Suttner.</p>
        <p>Alfred and Bertha von Suttner remained friends and exchanged letters through the years. She later became very active in the peace movement. She wrote the famous book “Lay Down Your Arms.” When Alfred Nobel later wrote his will to establish the Nobel Prizes, he included a prize for persons or organizations who promoted peace.</p>
        <p>Alfred died in San Remo, Italy on December 10, 1896. In his last will and testament, he wrote that much of his fortune was to be used to give prizes to those who have done their best for humanity in the field of physics, chemistry, physiology or medicine, literature and peace.</p>
        <p>Not everybody was pleased with this. His will was opposed by his relatives and questioned by authorities in various countries. It took four years for his executors to convince all parties to follow Alfred’s wishes.</p>
        <p>In 1901, the first Nobel Prizes in Physics, Chemistry, Physiology or Medicine and Literature were first awarded in Stockholm, Sweden and the Peace Prize in Kristiania (now Oslo), Norway.</p>



    </section>

{% endblock content %}